﻿@page
@model Gone_Maldives.Pages.manage.safari.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}


<div class="container">
    <h1>Details</h1>

    <div>
        <h4>SafariModel</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.SafariModel.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.SafariModel.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.SafariModel.Description)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.SafariModel.Description)
            </dd>
        </dl>
    </div>
    <div class="row">
        <div>
            @foreach (var img in Model.SafariModel.Images)
            {
                <div class="col-sm-4">
                    <img src="~/Images/@img.ImageId" class="img-thumbnail" />
                </div>
            }
        </div>
    </div>
    <div>
        <a asp-page="./Edit" asp-route-id="@Model.SafariModel.Id">Edit</a> |
        <a asp-page="./Index">Back to List</a>
    </div>
</div>

