﻿@page
@model Gone_Maldives.Pages.manage.resorts.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="container">
    <h1>Details</h1>

    <div>
        <h4>ResortModel</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ResortModel.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ResortModel.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ResortModel.Description)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ResortModel.Description)
            </dd>
        </dl>
    </div>
    <div class="row">
        @foreach (var img in Model.ResortModel.Images)
        {
            <div class="col-sm-4">
                <img src="~/Images/@img.ImageId" class="img-thumbnail" />

            </div>
        }
    </div>
    <div>
        <a asp-page="./Edit" asp-route-id="@Model.ResortModel.Id">Edit</a> |
        <a asp-page="./Index">Back to List</a>
    </div>
</div>


