﻿@page
@model Gone_Maldives.Pages.manage.resorts.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}


    <div class="container">
        <h1>Edit</h1>

        <h4>ResortModel</h4>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <form method="post" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="ResortModel.Id" />
                    <div class="form-group">
                        <label asp-for="ResortModel.Name" class="control-label"></label>
                        <input asp-for="ResortModel.Name" class="form-control" />
                        <span asp-validation-for="ResortModel.Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ResortModel.Description" class="control-label"></label>
                        <input asp-for="ResortModel.Description" class="form-control" />
                        <span asp-validation-for="ResortModel.Description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ResortModel.Images" class="control-label"></label>
                        <input type="file" class="form-control-file" name="files" multiple />
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                @foreach (var img in Model.ResortModel.Images)
                {

                    <div class="form-group">
                        <img src="~/Images/@img.ImageId" class="img-thumbnail" alt="photo" />
                        <input type="hidden" name="imageId" value="@img.ImageId" id="photo_value" />
                        <button class="btn btn-danger form-control" id="delete_button" onclick="@("testFunc('"+img.ImageId+"')")">Delete</button>
                    </div>
                }
            </div>
        </div>

        <div>
            <a asp-page="./Index">Back to List</a>
        </div>
    </div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">

       var val = null;

       function testFunc(value) {
           val = value;
       const url = `/api/Api/delete/${val}`
           $.post(url, (status) => {
               if (status > 0) {
                   window.location.reload();
               } else {
                   alert("Please try again");
               }
           })
       }

    </script>
}
