﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<section class="section1">
    <div class="header-image">
        <div class="container">
            <div class="row">
                <div class="col pt-3 header-text">
                    <h4 class="header-title">Explore <b>Maldives</b></h4>
                    <p class="header-description">Let us help you discover the best of Maldives.</p>
                    <button class="header-button" data-toggle="modal" data-target="#inq-form">Get In Touch</button>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <section class="products">
        <div class="row">
            <div class="col-sm-6">
                <img class="img-fluid" src="~/assets/resort.webp" />
            </div>
            <div class="col-sm-6 my-auto">
                <p><a href="/services/resorts" target="_self"><b>Resorts</b></a></p>
                <p>Lacus luctus accumsan tortor posuere ac ut consequat semper. Ornare suspendisse sed nisi lacus sed. Vel pretium lectus quam id leo in vitae. Auctor elit sed vulputate mi.</p>
            </div>
        </div>
        <div class="row lift-up">
            <div class="col-sm-6 my-auto text-right">
                <p><a href="/services/guesthouses" target="_self"><b>Guest House</b></a></p>
                <p>Lacus luctus accumsan tortor posuere ac ut consequat semper. Ornare suspendisse sed nisi lacus sed. Vel pretium lectus quam id leo in vitae. Auctor elit sed vulputate mi.</p>
            </div>
            <div class="col-sm-6">
                <img class="img-fluid" src="~/assets/Guest House.webp" />
            </div>
        </div>
        <div class="row lift-up">
            <div class="col-sm-6">
                <img class="img-fluid" src="~/assets/safari.webp" />
            </div>
            <div class="col-sm-6 my-auto">
                <p><a href="/services/safaris" target="_self"><b>Safari</b></a></p>
                <p>Lacus luctus accumsan tortor posuere ac ut consequat semper. Ornare suspendisse sed nisi lacus sed. Vel pretium lectus quam id leo in vitae. Auctor elit sed vulputate mi.</p>
            </div>
        </div>
        <div class="row lift-up">
            <div class="col-sm-6 my-auto text-right">
                <p><a href="/services/divecenters" target="_self"><b>Dive Centers</b></a></p>
                <p>Lacus luctus accumsan tortor posuere ac ut consequat semper. Ornare suspendisse sed nisi lacus sed. Vel pretium lectus quam id leo in vitae. Auctor elit sed vulputate mi.</p>
            </div>
            <div class="col-sm-6">
                <img class="img-fluid" src="~/assets/dive center.webp" />
            </div>
        </div>
    </section>

    <!-- Mobile Devices-->
    <partial name="_productsMobileVersion" />
    <!--End of Mobile Devices-->

    <section class="line-section">
        <div class="row">
            <div class="col-sm-12">
                <div class="line"></div>
            </div>
        </div>
    </section>
    <section>
        <div class="row">
            <div class="col-sm-6 text-center">
                <img class="img-fluid" src="~/assets/icon logo.webp" />
            </div>
            <div class="col-sm-6 my-auto">
                <div style="width:100%; display:table; border-collapse:collapse;" class="info-table">
                    <div style="display:table-row;">
                        <div style="display:table-cell; border-bottom:solid 1px #1BBCBF" class="about-cell">
                            <p class="about-us" style="cursor:pointer; color:#1BBCBF">ABOUT US</p>
                        </div>
                        <div style="display:table-cell; border-bottom:solid 1px #B2B2B2" class="why-us-cell">
                            <p class="why-us" style="cursor:pointer; color:#B2B2B2">WHY US</p>
                        </div>
                    </div>
                </div>
                <div>
                    <p class="info-block pt-2">
                        Gone Maldives is committed to bringing our clients the best in value and quality travel arrangements. We are passionate about travel and sharing the world's wonders with you.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="line-section">
        <div class="row">
            <div class="col-sm-12">
                <div class="line"></div>
            </div>
        </div>
    </section>
    <section>
        <div class="row">
            <div class="col-sm-6 text-center">
                <div class="row">
                    <div class="col-sm-12 col-lg-6">
                        <img class="img-fluid" src="~/assets/filter.webp" />
                    </div>
                    <div class="col-sm-12 col-lg-6 text-left my-auto">
                        <p>Personalized</p>
                        <p>We make sure  you get the hotel that matches your preference and needs.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 text-center">
                <div class="row">
                    <div class="col-sm-12 col-lg-6">
                        <img class="img-fluid" src="~/assets/handpicked.webp" />
                    </div>
                    <div class="col-sm-12 col-lg-6 text-left my-auto">
                        <p>Hand Picket Hotels</p>
                        <p>Our team offers only the best selection of affordable and luxury hotels to our clients</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="line-section">
        <div class="row">
            <div class="col-sm-12">
                <div class="line"></div>
            </div>
        </div>
    </section>
</div>
<section class="pt-5">
    <div class="row">
        <div class="col-sm-12 text-center footer-img-container">
            <img class="img-fluid" src="~/assets/Dhigali-Featured.webp" />
            <button class="contact-button" data-toggle="modal" data-target="#inq-form">Make A Booking</button>
        </div>
        <div class="col-sm-12 footer-contact">
            <div class="container mt-5 mb-5">
                <div class="row">
                    <div class="col-sm-4 contact-details">
                        <p>Contact us</p>
                        <br />
                        <div style="float:left">
                            <span><i class="fa fa-phone-alt" aria-hidden="true"></i></span><br />
                            <span><i class="fa fa-envelope" aria-hidden="true"></i></span><br />
                            <span><i class="fas fa-map-marker-alt"></i></span><br />
                        </div>
                        <div style="margin-left:35px;">
                            <span>+960 797-7045</span><br />
                            <span>info@gonemaldives.com</span><br />
                            <span>5C, Malaaz, Huvandhumaa Golhi, Mahchangoalhi, Male' City, Rep of Maldives</span>
                        </div>
                    </div>
                    <div class="col-sm-4 text-lg-center my-auto">
                        <button class="footer-contact-button" data-toggle="modal" data-target="#inq-form">Get In Touch</button>
                    </div>
                    <div class="col-sm-4 text-lg-right my-auto">
                        <p>Find Us On</p>
                        <p>Social Media</p>
                        <button style="border:none; background-color:transparent" onclick="window.open('https://www.facebook.com/gonemaldives','_blank')"><i class="fab fa-2x fa-facebook-f"></i></button>&nbsp;
                        <button style="border:none; background-color:transparent" onclick="window.open('https://www.instagram.com/gonemaldives','_blnak')"><i class="fab fa-2x fa-instagram"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section style="background-color:#16999C; height:20px">
</section>




<!-- Modal -->
<div class="modal fade" id="inq-form" tabindex="-1" role="dialog" aria-labelledby="inq-form" aria-hidden="true">
    <div class="modal-dialog" role="form">
        <div class="modal-content">
            <div class="container-fluid info-form">
                <form method="post">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-12">
                                <label class="title">Full Name</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2">
                                <span asp-validation-for="Contact.Prefiex">Prefeix</span>
                                <input asp-for="Contact.Prefiex" type="text" class="form-control" required>
                            </div>
                            <div class="col">
                                <span asp-validation-for="Contact.FirstName">First Name</span>
                                <input asp-for="Contact.FirstName" type="text" class="form-control" required>
                            </div>
                            <div class="col">
                                <span asp-validation-for="Contact.LastName">Last Name</span>
                                <input asp-for="Contact.LastName" type="text" class="form-control" required>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-12">
                                <label asp-for="Contact.Email" class="title">Email</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <input asp-for="Contact.Email" type="email" class="form-control" placeholder="email@email.com" required>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-12">
                                <label asp-for="Contact.Address" class="title">Address</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <span asp-validation-for="Contact.Address">Street Address</span>
                                <input asp-for="Contact.Address" class="form-control" type="text" required>
                                <span asp-validation-for="Contact.Address2">Street Address 2</span>
                                <input asp-for="Contact.Address2" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <span asp-validation-for="Contact.City">City</span>
                                <input asp-for="Contact.City" type="text" class="form-control" required>
                            </div>
                            <div class="col">
                                <span asp-validation-for="Contact.State">State/Province</span>
                                <input asp-for="Contact.State" type="text" class="form-control" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <span asp-validation-for="Contact.Zipcode">Zipcode</span>
                                <input asp-for="Contact.Zipcode" type="text" class="form-control" required>
                            </div>
                            <div class="col">
                                <span asp-validation-for="Contact.Country">Country</span>
                                <input asp-for="Contact.Country" type="text" class="form-control" required>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-6">
                                <label asp-for="Contact.Adults" class="title">Number of Adults</label>
                            </div>
                            <div class="col-sm-6">
                                <label class="title">Number of Children</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <span asp-validation-for="Contact.Adults" style="color: white;">Adults</span>
                                <input asp-for="Contact.Adults" type="number" class="form-control" required>
                            </div>
                            <div class="col-sm-3">
                                <span asp-validation-for="Contact.ChildAgeBelowFive">Aged 0 - 5</span>
                                <input asp-for="Contact.ChildAgeBelowFive" class="form-control" type="number" required>
                            </div>
                            <div class="col-sm-3">
                                <span asp-validation-for="Contact.ChildAgeBelow15">Aged 6 - 15</span>
                                <input asp-for="Contact.ChildAgeBelow15" class="form-control" type="number" required>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-12">
                                <label class="title">Arrival Date</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <span asp-validation-for="Contact.ArrivalDate">Day</span>
                                <input asp-for="Contact.ArrivalDate" class="form-control" type="number" required>
                            </div>
                            <div class="col-sm-4">
                                <span asp-validation-for="Contact.ArrivalMonthYear">Month / Year</span>
                                <input asp-for="Contact.ArrivalMonthYear" type="month" class="form-control" required>
                            </div>
                        </div>
                    </div>
                    <div class="form-group mx-auto">
                        <div class="row">
                            <div class="col-sm-12">
                                <button type="submit" class="form-button">Submit</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
