﻿@page
@model Gone_Maldives.Pages.services.DiveCentersModel
@{
    ViewData["Title"] = "DiveCenters";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<partial name="_serviceNav" />


<div class="row">
    <div class="container">
        @foreach (var item in Model.DiveCenters)
        {

            <div class="row mt-5 mb-5" style="border-bottom:2px solid #1BBCBF; padding-bottom:40px">
                <div class="col-sm-12" id="@item.Id">
                    <div style="border-left:5px solid #1BBCBF; margin-bottom:-14px">
                        <div style="padding-left:5px">
                            <p class="product-title">@item.Name</p>
                            <p class="product-description">@item.Description</p>
                        </div>
                    </div>
                    @foreach (var photo in item.Photos)
                    {
                        <div class="gallery">
                            <a target="_blank" href="~/Images/@photo.ImageId">
                                <img src="~/Images/@photo.ImageId" class="img-thumbnail product-image" />
                            </a>
                        </div>
                    }
                </div>
            </div>
        }
    </div>
</div>