﻿@page "{title?}"
@model Gone_Maldives.Pages.products.IndexModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


<div class="row">
    <div class="col-sm-12">
        <div class="product-nav">
            <div class="container">
                <div class="row text-center h-100">
                    <div class="col-sm-3 my-auto">
                        <div id="link-test">
                            <a href="/services/resorts" target="_self">Resorts</a>
                        </div>
                    </div>
                    <div class="col-sm-3 my-auto">
                        <div id="link-test">
                            <a href="/services/guest-houses" target="_self" class="link-active">Guest Houses</a>
                        </div>
                    </div>
                    <div class="col-sm-3 my-auto">
                        <div id="link-test">
                            <a href="/services/safari" target="_self">Safaris</a>
                        </div>
                    </div>
                    <div class="col-sm-3 my-auto">
                        <div id="link-test">
                            <a href="/services/dive-centers" target="_self">Dive Centers</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="container">
        @foreach (var item in Model.Product)
        {

            <div class="row mt-5 mb-5" style="border-bottom:2px solid #1BBCBF; padding-bottom:40px">
                <div class="col-sm-12" id="@item.Id">
                    <div style="border-left:5px solid #1BBCBF; margin-bottom:-14px">
                        <div style="padding-left:5px">
                            <p class="product-title">@item.Name</p>
                            <p class="product-description">@item.Description</p>
                        </div>
                    </div>
                    @foreach (var photo in item.Photos)
                    {
                        <div class="gallery">
                            <a target="_blank" href="~/Images/@photo.ImageId">
                                <img src="~/Images/@photo.ImageId" class="img-thumbnail product-image" />
                            </a>
                        </div>
                    }
                </div>
            </div>
        }
    </div>
</div>
