﻿@page
@model Gone_Maldives.Pages.manage.guest_houses.DeleteModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<div class="container">
    <h1>Delete</h1>

    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>GuestHouseModel</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.GuestHouseModel.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.GuestHouseModel.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.GuestHouseModel.Description)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.GuestHouseModel.Description)
            </dd>
        </dl>

        <form method="post">
            <input type="hidden" asp-for="GuestHouseModel.Id" />
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            <a asp-page="./Index">Back to List</a>
        </form>
    </div>
</div>

