﻿@page
@model Gone_Maldives.Pages.manage.guest_houses.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

    <div class="container p-2">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item  ml-auto"><a href="/manage">Manage</a></li>
                <li class="breadcrumb-item"><a href="/manage/resorts">Resorts</a></li>
                <li class="breadcrumb-item"><a href="/manage/dive-centers">Dive Centers</a></li>
                <li class="breadcrumb-item active" aria-current="page">Guest Houses</li>
                <li class="breadcrumb-item"><a href="/manage/safari">Safari</a></li>
            </ol>
        </nav>
    </div>

<div class="container">
    <h1>Guest Houses</h1>

    <p>
        <a asp-page="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.GuestHouseModel[0].Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.GuestHouseModel[0].Description)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.GuestHouseModel)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


