﻿<section class="products-sm">
    <div class="row">
        <div class="col-sm-6">
            <img class="img-fluid" src="~/assets/resort.webp" />
        </div>
        <div class="col-sm-6 my-auto">
            <p><a href="/services/resorts" target="_self"><b>Resorts</b></a></p>
            <p>Lacus luctus accumsan tortor posuere ac ut consequat semper. Ornare suspendisse sed nisi lacus sed. Vel pretium lectus quam id leo in vitae. Auctor elit sed vulputate mi.</p>
        </div>
    </div>
    <div class="row lift-up">
        <div class="col-sm-6">
            <img class="img-fluid" src="~/assets/Guest House.webp" />
        </div>
        <div class="col-sm-6 my-auto text-left">
            <p><a href="/services/guesthouses" target="_self"><b>Guest House</b></a></p>
            <p>Lacus luctus accumsan tortor posuere ac ut consequat semper. Ornare suspendisse sed nisi lacus sed. Vel pretium lectus quam id leo in vitae. Auctor elit sed vulputate mi.</p>
        </div>
    </div>
    <div class="row lift-up">
        <div class="col-sm-6">
            <img class="img-fluid" src="~/assets/safari.webp" />
        </div>
        <div class="col-sm-6 my-auto">
            <p><a href="/services/safaris" target="_self"><b>Safari</b></a></p>
            <p>Lacus luctus accumsan tortor posuere ac ut consequat semper. Ornare suspendisse sed nisi lacus sed. Vel pretium lectus quam id leo in vitae. Auctor elit sed vulputate mi.</p>
        </div>
    </div>
    <div class="row lift-up">
        <div class="col-sm-6">
            <img class="img-fluid" src="~/assets/dive center.webp" />
        </div>
        <div class="col-sm-6 my-auto text-left">
            <p><a href="/services/divecenters" target="_self"><b>Dive Centers</b></a></p>
            <p>Lacus luctus accumsan tortor posuere ac ut consequat semper. Ornare suspendisse sed nisi lacus sed. Vel pretium lectus quam id leo in vitae. Auctor elit sed vulputate mi.</p>
        </div>
    </div>
</section>