﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="row">
    <div class="col-sm-12">
        <div class="product-nav">
            <div class="container">
                <div class="row text-center h-100">
                    <div class="col-sm-3 my-auto">
                        <div id="link-test">
                            <a href="/services/resorts" target="_self">Resorts</a>
                        </div>
                    </div>
                    <div class="col-sm-3 my-auto">
                        <div id="link-test">
                            <a href="/services/guesthouses" target="_self" class="link-active">Guest Houses</a>
                        </div>
                    </div>
                    <div class="col-sm-3 my-auto">
                        <div id="link-test">
                            <a href="/services/safaris" target="_self">Safaris</a>
                        </div>
                    </div>
                    <div class="col-sm-3 my-auto">
                        <div id="link-test">
                            <a href="/services/divecenters" target="_self">Dive Centers</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>