﻿@page
@model Gone_Maldives.Pages.manage.Add.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<div class="container">
    <h1>Create</h1>

    <h4>DiveCenter</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="DiveCenter.Name" class="control-label"></label>
                    <input asp-for="DiveCenter.Name" class="form-control" />
                    <span asp-validation-for="DiveCenter.Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DiveCenter.Description" class="control-label"></label>
                    <input asp-for="DiveCenter.Description" class="form-control" />
                    <span asp-validation-for="DiveCenter.Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DiveCenter.Photos" class="control-label"></label>
                    <input type="file" multiple name="files" class="form-control image-uploader" id="multiple-files" />
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-page="Index">Back to List</a>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    
}
