﻿@page
@model Gone_Maldives.Pages.manage.Add.DeleteModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="container">
    <h1>Delete</h1>

    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>DiveCenter</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DiveCenter.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DiveCenter.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DiveCenter.Description)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DiveCenter.Description)
            </dd>
        </dl>
    
        <form method="post">
            <input type="hidden" asp-for="DiveCenter.Id" />
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            <a asp-page="./Index">Back to List</a>
        </form>
    </div>
</div>
