﻿@page
@model Gone_Maldives.Pages.manage.Add.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}


<div class="container">
    <h1>Details</h1>

    <div>
        <h4>DiveCenter</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DiveCenter.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DiveCenter.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DiveCenter.Description)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DiveCenter.Description)
            </dd>
        </dl>
    </div>
    <div class="row">
            @foreach (var image in Model.DiveCenter.Photos)
            {
                <div class="col-sm-4">
                    <img src="~/images/@image.ImageId" alt="photo" class="img-thumbnail" />
                </div>
            }
    </div>
    <div>
        <a asp-page="./Edit" asp-route-id="@Model.DiveCenter.Id">Edit</a> |
        <a asp-page="./Index">Back to List</a>
    </div>
</div>
