﻿@page
@model Gone_Maldives.Pages.manage.Add.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="container p-2">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item  ml-auto"><a href="/manage">Manag</a></li>
            <li class="breadcrumb-item active"><a href="/manage/Resorts">Resorts</a></li>
            <li class="breadcrumb-item active" aria-current="page">Dive Centers</li>
            <li class="breadcrumb-item"><a href="/manage/guest-houses">Guest Houses</a></li>
            <li class="breadcrumb-item"><a href="/manage/safari">Safair</a></li>
        </ol>
    </nav>
</div>

<div class="container">
    <h1>Dive Centers</h1>

    <p>
        <a asp-page="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.DiveCenter[0].Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DiveCenter[0].Description)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.DiveCenter)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
