﻿@page
@model Gone_Maldives.Pages.manage.IndexModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

    <div class="container p-2">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active ml-auto" aria-current="page">Manage</li>
                <li class="breadcrumb-item"><a href="/manage/Resorts">Resorts</a></li>
                <li class="breadcrumb-item"><a href="/manage/dive-centers">Dive Centers</a></li>
                <li class="breadcrumb-item"><a href="/manage/guest-houses">Guest Houses</a></li>
                <li class="breadcrumb-item"><a href="/manage/safari">Safair</a></li>
            </ol>
        </nav>
    </div>
<div class="container">
    <div class="row">
        <div class="col">
            <partial name="_LoginPartial" />
        </div>
    </div>
</div>

