﻿body, html {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    height: 100%;
    overflow-x: hidden;
}

.fab {
    color: #1BBCBF !important;
}

    .fab:hover {
        color: #16999C !important;
    }


.nav-bar-booking-button {
    display: inline-block;
    padding: 0.35em 1.6em;
    margin: 0 0.3em 0.3em 0;
    border: 0.1em solid #1BBCBF;
    border-radius: 1.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #ffff;
    text-align: center;
    background-color: #1BBCBF;
    font-size: 10px;
}

    .nav-bar-booking-button:hover {
        background-color: #16999C;
        border: 0.1em solid #16999C;
    }


.section1 {
    height: 723px;
}

.header-image {
    background-image: url(/assets/header_image.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 100%;
}


.header-text {
    position: absolute;
    bottom: 165px;
}

.header-title {
    color: white;
    font-size: 2vw;
}

.header-description {
    color: white;
    font-size: 1.6vw;
}

.header-button {
    display: inline-block;
    padding: 0.35em 1.2em;
    margin: 0 0.3em 0.3em 0;
    border: 0.1em solid #fff;
    border-radius: 1.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #ffff;
    text-align: center;
    background-color: transparent;
}


.footer-img-container {
    position: relative;
    width: 100%;
}

.contact-button {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    display: inline-block;
    padding: 0.35em 1.6em;
    margin: 0 0.3em 0.3em 0;
    border: 0.1em solid #1BBCBF;
    border-radius: 1.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #ffff;
    text-align: center;
    background-color: #1BBCBF;
    box-shadow: 0 4px 2px 2px rgba(0, 0, 0, 0.1);
    font-size: 26px;
}


    .contact-button:hover {
        background-color: #16999C;
        border: 0.1em solid #16999C;
    }

.footer-contact {
    background-color: #1BBCBF;
}

.lift-up {
    margin-top: -155px;
}


.products-sm {
    display: none;
}

.line-section {
    height: 100px;
}

.line {
    width: 100%;
    height: 47px;
    border-bottom: 1px solid #1BBCBF;
    position: absolute;
}

.footer-main {
    background-color: #1BBCBF;
}


.footer-contact .fab {
    color: white !important;
}

.footer-contact {
    color: white;
    font-family: 'Roboto', sans-serif;
}

    .footer-contact .contact-details p {
        font-size: 26px;
    }

    .footer-contact .contact-details .fa, .fas {
        color: #707070;
    }


.footer-contact-button {
    display: inline-block;
    padding: 0.35em 1.2em;
    margin: 0 0.3em 0.3em 0;
    border: 0.1em solid #fff;
    border-radius: 1.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #ffff;
    text-align: center;
    background-color: transparent;
}






.products a, .products-sm a {
    color: #707070;
}


.product-image {
    height: 400px;
    -o-object-fit: contain;
}


.product-title {
    font-family: 'Roboto', sans-serif;
    color: #707070;
}

.product-description {
    font-family: 'Roboto', sans-serif;
    color: #707070;
}

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 200px;
    height: 200px;
}

    div.gallery img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

div.product-nav div a {
    text-decoration: none;
    color: #CECECE;
}

    div.product-nav div a:active {
        color: #0ED0D3;
    }

div.product-nav div > div > div > div {
    width: 90%;
    border-bottom: 2px solid #CECECE;
    display: inline-block
}

.link-active {
    color: #0ED0D3;
}


.product-nav {
    -webkit-box-shadow: 0 8px 6px -6px #CECECE;
    -moz-box-shadow: 0 8px 6px -6px #CECECE;
    box-shadow: 0 8px 6px -6px #CECECE;
}

.product-nav > div {
    height:60px;
}

/*Modal CSS*/
form {
    padding: 10px 0 10px 0;
}

.title {
    font-family: 'Roboto', sans-serif;
    color: #0ED0D3;
}

.info-form span {
    color: #989898;
}

.info-form .form-control {
    border-color: #9E9E9E;
    border-radius: 1.25em !important;
    margin: 4px 0 4px 0;
}

hr {
    margin: 20px 0 20px 0;
    color: #CEBABA;
    background-color: #CEBABA;
}

.form-button {
    display: inline-block;
    padding: 0.35em 1.6em;
    margin: 0 0.3em 0.3em 0;
    border: 0.1em solid #1BBCBF;
    border-radius: 1.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #ffff;
    text-align: center;
    background-color: #1BBCBF;
    font-size: 20px;
    width: 100%;
}

@media only screen and (max-width: 575px) {
    .products {
        display: none;
    }

    .products-sm {
        display: block;
    }
}


@media only screen and (max-width: 1024px) {
    .footer-image-container {
        height: 19.5vh;
    }

    .section1 {
        height: 28.5vh;
    }
}


@media only screen and (max-width: 997px) {
    .lift-up {
        margin-top: auto;
    }
}


@media only screen and (max-width: 414px) {

    .header-title {
        font-size: 1em;
    }

    .header-description {
        font-size: 0.5em;
    }
}


@media all and (max-width:575px){
    .product-nav > div {
        height: 130px;
    }
}

@media all and (max-width:30em) {
    .header-button {
        display: block;
        margin: 0.4em auto;
    }

    .contact-button {
        font-size: 15px;
    }

    .header-text {
        position: absolute;
        bottom: 30px;
    }
}

@media all and (max-width: 1024px) {
    .header-text {
        position: absolute;
        bottom: 70px;
    }
}
